.contact-content {
    background-color: white; 
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
    transition: all 0.3s ease-in-out; 
    width: 80%; 
    max-width: 800px; 
    margin: 20px auto; 
    margin: 16% auto;
}
.contact-content h2 {
    margin-bottom: 15px;
}
.container {
    height: 100%;
}
